{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<div class="container">
    <marquee behavior="inherit" direction="inherit"><h1 style="text-align:center;font-family: 'Berkshire Swash', cursive;color: rgb(76, 77, 80)">Blog Page</h1></marquee>
    <hr>                 
</div>
<div class="textmiddle">
    <h3 style="text-align:center;font-family: 'Berkshire Swash', cursive;">Motivation Quote</h3>
    <p>{{ isoko.author }}</p>
    <p><i>{{ isoko.quote }}</i></p>
</div>    
<hr>
<div class="container">
    <br>
    <h3 class="add-category"><a class="btn btn-primary" href="/add/blogers" style="background-color:#66a5a2; float:left;"><span aria-hidden="true"> Blog </span></a></h3>
    <br><br>
    <p style="font-size: 20px;">{{ macro.displayBlogsList(blog)}} </p>
    

</div>
{% endblock %}